In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Importar datos

In [29]:
path = './data/'
df_coronavirus_raw = pd.read_csv(path+'coronavirus_dataset.csv')
df_coronavirus_raw.head()

,Province.State,Country.Region,Lat,Long,date,cases,type
0,NaN,Japan,36.0000,138.0000,2020-01-22,2,confirmed
1,NaN,South Korea,36.0000,128.0000,2020-01-22,1,confirmed
2,NaN,Thailand,15.0000,101.0000,2020-01-22,2,confirmed
3,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,confirmed
4,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14,confirmed

In [21]:
path = '.C:/Users/Kalilu/Documents/Study/Ironhack/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/'
df_coronavirus_raw = pd.read_csv(path+'03-12-2020.csv')
df_coronavirus_raw.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-12T09:53:06,67781,3056,50318,30.9756,112.2707
1,NaN,Italy,2020-03-11T21:33:02,12462,827,1045,43.0000,12.0000
2,NaN,Iran,2020-03-12T11:13:27,10075,429,2959,32.0000,53.0000
3,NaN,"Korea, South",2020-03-12T05:13:02,7869,66,333,36.0000,128.0000
4,France,France,2020-03-11T22:53:03,2281,48,12,46.2276,2.2137

# Data cleaning

In [22]:
df_coronavirus_raw.columns = df_coronavirus_raw.columns.str.replace('[/\s]','_').str.lower()
column_order = ['country_region', 'province_state', 'latitude', 'longitude', 'last_update', 
       'confirmed','deaths', 'recovered']
df_coronavirus_raw = df_coronavirus_raw[column_order]
df_coronavirus_raw.head()

,country_region,province_state,latitude,longitude,last_update,confirmed,deaths,recovered
0,China,Hubei,30.9756,112.2707,2020-03-12T09:53:06,67781,3056,50318
1,Italy,NaN,43.0000,12.0000,2020-03-11T21:33:02,12462,827,1045
2,Iran,NaN,32.0000,53.0000,2020-03-12T11:13:27,10075,429,2959
3,"Korea, South",NaN,36.0000,128.0000,2020-03-12T05:13:02,7869,66,333
4,France,France,46.2276,2.2137,2020-03-11T22:53:03,2281,48,12

In [23]:
df_coronavirus_raw['last_update'] = pd.to_datetime(df_coronavirus_raw.last_update.str.replace('T',' '))
# df_coronavirus_raw['last_update'] = df_coronavirus_raw["last_update"])
df_coronavirus_raw.head()

,country_region,province_state,latitude,longitude,last_update,confirmed,deaths,recovered
0,China,Hubei,30.9756,112.2707,2020-03-12 09:53:06,67781,3056,50318
1,Italy,NaN,43.0000,12.0000,2020-03-11 21:33:02,12462,827,1045
2,Iran,NaN,32.0000,53.0000,2020-03-12 11:13:27,10075,429,2959
3,"Korea, South",NaN,36.0000,128.0000,2020-03-12 05:13:02,7869,66,333
4,France,France,46.2276,2.2137,2020-03-11 22:53:03,2281,48,12

In [27]:
df_coronavirus_raw.last_update.min()

Timestamp('2020-02-29 02:03:10')

In [28]:
df_coronavirus_raw.count_values()

AttributeError: 'DataFrame' object has no attribute 'count_values'